$tipografia: 'Roboto Condensed', sans-serif;
$negrita: bold;
$cursiva: italic;
$texto-centrado: center;
$fondo-gris: #949393;
$texto-decoration-none: none;
$texto-decoration-underline: underline;
$texto-negro: black;
$texto-blanco: white;
$subrayado-rojo: red;
$especialidades-fondo-oscuro: #d4d4d4;
$especialidades-fondo-claro: #e7e7e7;
$tamanioletra1em: 1em